.logo {
  width: 100%;
  max-width: 550px;
  height: auto;
}

.card {
  height: 270px;
  width: 230px;
  border-radius: 1rem;
  box-shadow: 3px 4px 5px rgb(0 0 0 / 30%);
  position: relative;
  background-color: rgb(133, 110, 91);
  align-items: center;
  margin-top: 3vh;
  margin-left: 1.5vw;
}

.card .info {
  position: absolute;
  bottom: 2vh;
  left: 10px;
  color: #fff;
}

.card .nome {
  font-size: 1.2rem;
  font-weight: 700;
  word-break: break-word;
  text-align: center;
}

.spacing {
  margin-left: 0.5vw;
}

.btnGroup {
  display: flex;
  justify-content: space-evenly;
  bottom: 2vh;
  height: 75px;
}

.btnCircle {
  background: rgb(97, 77, 63);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 35%);
  cursor: pointer;
}

.icon > *{
  fill: rgb(255, 231, 216)
}

.btnCircle:hover svg>*,
.btnCircle:focus svg>* {
  fill: #b19474 !important;
}

.btnCircle:hover, 
.btnCircle:focus{
  outline: none;
  background: #ffffff;
  box-shadow: 0 0 0 0.5px #ffffff, 0 0 0 1px #cfb89a;
}