.boxContainer {
  width: 80%;
  height: 80vh;
  background: #fff;
  border-radius: 2rem;
  border: 0.25px solid #dbdbdb;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.title {
  color: var(--color-green-main);
  display: inline-block;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.body {
  position: relative;
  width: 120px;
  height: 250px;
  border-radius: 0.8rem;
  border: 1px solid #ccc;
}

.center {
  position: absolute;
  background-image: url("./assets/logo.jpg");
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.container-scroll {
  width: 70vw;
  height: 100vh;
  margin: 40px auto;
  min-height: 500px;
  max-height: 70vh;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #5f4a37dc 0%, #6b573d96 100%);
  border-radius: 2rem;
  overflow-y: auto;
}

@media (min-width: 576px){
  .modalAdesivo .modal-dialog {
    max-width: 50vw !important;
    margin-top: 10vh;
  }
  .modalWarning .modal-dialog {
    max-width: 15vw !important;
    color: #E41838;
    text-align: center;
  }
  .modal-dialog {
    max-width: 600px !important;
  }
}

.modal-content {
  background: rgb(194, 187, 180) !important;
  border-radius: 1.2rem !important;
  border: 0.25px solid #cfcfcf !important;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
}